<section class="hero is-link">
    <div class="hero-body">
      <p class="title has-text-centered is-uppercase">
        Found Connections
      </p>
      <p class="subtitle has-text-centered">
        Are you ready to play?
      </p>
    </div>
  </section>