<nav>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/shop">SHOP</li>
        <li><a href="/nintendo">Nintendo</a></li>
        <li><a href="/sega">Sega</a></li>
        <li><a href="/atari">Atari</a></li>
        <li><a href="/sony.ejs">Sony</a></li>
        <li><a href="/appointments">SERVICES</a></li>
        <li><a href="/stores">STORES</a></li>
        <li><a href="/events">EVENTS</a></li>
        
    </ul>
</nav>