<nav>
    <ul>
        <li><a href="shop.ejs">SHOP</a></li>
        <li><a href="nintendo.ejs">Nintendo</a></li>
        <li><a href="sega.ejs">Sega</a></li>
        <li><a href="atari.ejs">Atari</a></li>
        <li><a href="sony.ejs">Sony</a></li>
        <li><a href="/appointments.ejs">SERVICES</a></li>
        <li><a href="stores.ejs">STORES</a></li>
        <li><a href="events.ejs">EVENTS</a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
</nav>