<nav class="navbar has-shadow" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-brand">
        <i class="fa-solid fa-gamepad fa-2xl navbar-item" ></i>
    </div>    
    <div class="navbar-item">
        <a href="/">HOME</a>
    </div>
    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Products</a>
        
        <div class="navbar-dropdown">
        <a class="navbar-item" href="/shop">Shop All</a>
        <a class="navbar-item" href="/nintendo">Nintendo</a>
        <a class="navbar-item" href="/sega">Sega</a>
        <a class="navbar-item" href="/sony">Sony</a>
        <a class="navbar-item" href="/atari">Atari</a>
        </div>
    
    </div>  
    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Services</a>
        <div class="navbar-dropdown">
        <a href="/appointments"class="navbar-item">Make an Appointment</a>
        <a class="navbar-item" href="/checkOrder">Check Appointment</a>
        </div>
    </div>  
    <div class="navbar-item">
        <a href="/stores" class="navbar-item">Stores</a>
      </div>
     
    <div class="navbar-item">
        <a href="/events" class="navbar-item">Events</a>
      </div>
     </nav>







<!-- <nav class="navbar py-3 px-5">
   
    
    <div class="navbar-menu">
        <div class="navbar-item has-dropdown">
            <a href="/"class="navbar-link">HOME</a>
            <a href="/shop" class="navbar-dropdown">Shop All</a>

        </div>

    </div> -->
    
    
    
   <!-- <a href="/"class="navbar-link">HOME</a>
        
            <li ></li>
            <li class="menu-list"><a href="/nintendo">Nintendo</a></li>
            <li class="menu-list"><a href="/sega">Sega</a></li>
            <li class="menu-list"><a href="/atari">Atari</a></li>
            <li class="menu-list"><a href="/sony">Sony</a></li>
        </ul>
        <ul>
            <li class="navbar-item is-size-5 is-bold"><a href="/appointments">SERVICES</a></li>
            <li class="menu-list"><a href="/checkorder">Check Order</a></li>
        </ul>
        <ul>
            <li class="navbar-item is-size-5 is-bold"><a href="/stores">STORES</a></li>
        </ul>
        <ul>
            <li class="navbar-item is-size-5 is-bold"><a href="/events">EVENTS</a></li>
        </ul>
</nav> -->