<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <%- include ('./partials/nav.ejs') %>
    <h1>Atari</h1>
    <p>brief company history</p>

    <div class="card1"><a href="#"><img src="" alt=""/></a></div>
    <div class="card2"><a href="#"><img src="" alt=""/></a></div>
    <div class="card3"><a href="#"><img src="" alt=""/></a></div>
    <div class="card4"><a href="#"><img src="" alt=""/></a></div>
   


    <%- include ('./partials/footer.ejs') %>
</body>
</html>