<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <%- include ('./partials/nav.ejs') %>
    <p class="content has-text-centered is-size-3">Events (via www.eventsforgamers.com/)</p>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child box has-background-warning-light">
            <p class="title">Monthly SMASH Night</p>
            <p class="subtitle">Austin Store</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box has-background-warning-light">
            <p class="title">Pokemon S/M Online Battles</p>
            <p class="subtitle">Raliegh Store</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box has-background-warning-light">
            <p class="title">Mario Party</p>
            <p class="subtitle">New York Store</p>
            <div class="content">
              <p>Contact Mike at xxx-xxx-xxxx to register. Space is limited</p>
            </div>
          </article>
        </div>
      </div>
      
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child box has-background-info-primary">
                <p class="title">Upcoming Watch Parties (online)</p>
                <p class="subtitle">Check the Newsletter for Links!</p>
                <p class="content"><a href"#">INDIE Live Expo 2022</a></p>
                <p class="content"><a href"#">GameDevGuid Conference 2022</a></p>
                <p class="content"><a href"#">Hyper Games Conference 2022</a></p>
                <p class="content"><a href"#">Electronic Gaming Convention (ECG) 2022</a></p>
                <p class="content"><a href"#">XBox and Bethesda Games Showcase 2022</a></p>
                <p class="content"><a href"#">PC Gaming Show 2022</a></p>
                
              <article class="tile is-child box has-background-info-primary">
                <p class="title">Local Conventions</p>
                <p class="content"><a href"#">Day of the Devs -  Los Angeles</a></p>
                <p class="content"><a href"#">Tribeca Games Festival 2022 -  New York</a></p>
                <p class="content"><a href"#">Games + Learning + Society Conference -  Irvine, California</a></p>
                <p class="content"><a href"#">MomoCon 2022</a></p>               
              </article>
              <article class="tile is-child box has-background-primary-light">
                <p class="title">Reminders</p>
                <p class="subtitle">Convention Tips and Tricks</p>
                <p class="content">Ask before taking pictures of cosplayers.</p>
                <p class="content">Hygeine is important.</p>
                <p class="content">Keep moving in the hallways -  move to the side if you need to confer with friends or a map.</p>
                <p class="content">Have a meeting spot identified in case the group is separated.</p>
                
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box has-background-info-light">
                <p class="title">Game of the Month</p>
                <p class="subtitle">Overcooked! 2</p>
                <p class="subtitle">Or how to lose friends and make enemies...</p>
                <figure class="image is-3by5">
                  <img src="https://m.media-amazon.com/images/I/81T1dOwDD0L._SX522_.jpg">
                </figure>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box has-background-info-light">
              <p class="title">Sign up for the Newsletter!</p>
              <p class="subtitle">Who doesn't want cool tips and alerts about events??</p>
              <div class="content">
                <input class="input is-medium" type="email" value="bwallace.midgar@avalanche.org"> 
                <button class="button is-medium is-link" >Sign-Up</button>
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box has-background-info-light">
            <div class="content">
              <p class="title">Thoughts on Spoilers</p>
              <p class="subtitle">Newsletter Sneak Peek!</p>
              <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
                <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
                <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>