<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <%- include ('./partials/nav.ejs') %>

    <section class="section is-small has-background-grey-lighter ">
        <h1 class="title">About Us</h1>
        <h2 class="subtitle">
          At Found Connections, we believe in the power of games to entertain, inform, and build communities. From those who saved every quarter possible to blow at the arcade to the generation raised on Sony Playstion, Microsoft XBox and Nintendo Switch, there is something for eveyone here. 
        </h2>
          <h2 class="subtitle">
          Find a <span class="content has-text-success">power supply</span>, <span class="content has-text-success">display cable</span>, or <span class="content has-text-success">display adapter</span> to dust off your console collecting dust in your cousin's attic with our <span class="content has-text-success">products</span>. 
        </h2>
          <h2 class="subtitle">
          Did you get a bum cable from eBay? Bring your console in! Purchase one of our cables and we'll test and answer any questions for you, in-store. Head to our <span class="content has-text-link">Services</span> section to book your appointment.
        </h2>
          <h2 class="subtitle">
          Do you stream? Do you want to figure out how to capture your Camecube play for Twitch, or need setup advice? Book us under <span class="content has-text-link">Services</span> for a consultation.
        </h2>
      </section>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>