<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <%- include ('./partials/nav.ejs') %>
    
    <p class="content has-text-centered is-size-3">Our Locations</p>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child box has-background-info-dark">
            <p class="title has-text-info-light">Boston</p>
            <p class="subtitle has-text-success-light">Massachusetts</p>
            <p class="subtitle has-text-success-light">Address</p>
            <p class="subtitle has-text-success-light">Zipcode</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box has-background-info-dark">
            <p class="title has-text-info-light">Plano</p>
            <p class="subtitle has-text-success-light">Texas</p>
            <p class="subtitle has-text-success-light">Address</p>
            <p class="subtitle has-text-success-light">Zipcode</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box has-background-info-dark">
            <p class="title has-text-info-light">Seattle</p>
            <p class="subtitle has-text-success-light">Washington</p>
            <p class="subtitle has-text-success-light">Address</p>
            <p class="subtitle has-text-success-light">Zipcode</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box has-background-info-dark ">
            <p class="title has-text-info-light">Orlando</p>
            <p class="subtitle has-text-success-light">Florida</p>
            <p class="subtitle has-text-success-light">Address</p>
            <p class="subtitle has-text-success-light">Zipcode</p>
          </article>
        </div>
      </div>
    
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child box has-background-link-dark">
            <p class="title has-text-info-light">New York City</p>
            <p class="subtitle has-text-success-light">New York</p>
            <p class="subtitle has-text-success-light">Address</p>
            <p class="subtitle has-text-success-light">Zipcode</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box has-background-link-dark">
            <p class="title has-text-info-light">Raleigh</p>
            <p class="subtitle has-text-success-light">North Carolina</p>
            <p class="subtitle has-text-success-light">Address</p>
            <p class="subtitle has-text-success-light">Zipcode</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box has-background-link-dark">
            <p class="title has-text-info-light">Austin</p>
            <p class="subtitle has-text-success-light">Texas</p>
            <p class="subtitle has-text-success-light">Address</p>
            <p class="subtitle has-text-success-light">Zipcode</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box has-background-link-dark ">
            <p class="title has-text-info-light">Los Angeles</p>
            <p class="subtitle has-text-success-light">California</p>
            <p class="subtitle has-text-success-light">Address</p>
            <p class="subtitle has-text-success-light">Zipcode</p>
          </article>
        </div>
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child box has-background-primary-dark">
            <p class="title has-text-info-light">Los Vegas</p>
            <p class="subtitle has-text-success-light">Nevada</p>
            <p class="subtitle has-text-success-light">Address</p>
            <p class="subtitle has-text-success-light">Zipcode</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box has-background-primary-dark">
            <p class="title has-text-info-light">Atlanta</p>
            <p class="subtitle has-text-success-light">Georgia</p>
            <p class="subtitle has-text-success-light">Address</p>
            <p class="subtitle has-text-success-light">Zipcode</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box has-background-warning-dark">
            <p class="title has-text-info-light">New Orleans</p>
            <p class="subtitle has-text-success-light">Louisiana</p>
            <p class="subtitle has-text-success-light">Coming Soon!</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box has-background-warning-dark ">
            <p class="title has-text-info-light">Chicago</p>
            <p class="subtitle has-text-success-light">Illinois</p>
            <p class="subtitle has-text-success-light">Coming Soon!</p>
          </article>
        </div>
      </div>
 <%   const locations = [
        "Boston, MA",
        "Plano, TX",
        "Seattle, WA",
        "Orlando, FL",
        "New York, NY",
        "Raleigh, NC",
        "Austin, TX",
        "Los Angeles, CA",
        "Los Vegas, NV",
        "Atlanta, GA",
 ] %>

    

    <%- include ('./partials/footer.ejs') %>
</body>
</html>

