@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand:regular);
@import url(https://fonts.googleapis.com/css?family=Grape+Nuts:regular);
@import url(https://fonts.googleapis.com/css?family=Mali:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

*{
    font-family: "Mali", sans-serif;
}

a:hover{
    color:yellow;
}

a:visited{
    color:black;
}

li{
    list-style:none;
}
li a{
    color:black;
}

li a:hover{
    color:white;
}
.navbar{
    background-color: rgba(230,0,19,1)
}

img{
    height: 5em;
    width:5em;
}



.scheduled{
    border: 1px green solid;
}
.product-cards{
    display:inline-block;
    width:fit-content;
    padding: 1em;
    margin: .5em
    
   

}
