<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <%- include ('./partials/nav.ejs') %>

<div class="carousel" id="sega-container">
    <div class="carousel-container">
        <div class="carousel-button" class="previous">

        </div>
         <div class="carousel-images">
            <img src="" alt="" />
            <img src="" alt="" />
            <img src="" alt="" />
            <img src="" alt="" />
         </div>
         <div class="carousel-button" class="next">
             
         </div>
    </div>
</div>
<div class="carousel" id="nintendo-container">
    <div class="carousel-container">
        <div class="carousel-button" class="previous">

        </div>
         <div class="carousel-images">

         </div>
         <div class="carousel-button" class="next"></div>
    </div>
</div>
<div class="carousel" id="sony-container">
    <div class="carousel-container">
        <div class="carousel-button" class="previous">

        </div>
         <div class="carousel-images">

         </div>
         <div class="carousel-button" class="next"></div>
    </div>
</div>
<div class="carousel" id="atari-container">
    <div class="carousel-container">
        <div class="carousel-button" class="previous">

        </div>
         <div class="carousel-images">

         </div>
         <div class="carousel-button" class="next"></div>
    </div>
</div>






    <%- include ('./partials/footer.ejs') %>
</body>
</html>